
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow: hidden;
}
.title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 128px;
    color: white;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
    animation: flicker 1.5s infinite alternate;
    line-height: 100%;
    overflow:visible
}

.image{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(234, 0, 255),
        0 0 80px rgb(255, 0, 221),
        0 0 90px rgb(0, 119, 255),
        0 0 100px rgb(212, 0, 255),
        0 0 150px rgb(204, 0, 255);
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }